<h2>ABOUT VR </h2>

<div class="links">

<%=  link_to("About", about_path ) %>
<%=  link_to("Contact Us", contact_path ) %>

</div>

<!-- the method used below  is manual and does the same linking as the helper method above.
 -->
<!-- <div class="manuallink">
<a href="/pages/about">about</a>
<a href="/pages/contact">contact</a>
</div>
 -->

 <div class="one_love">

<%=  image_tag("onelove.jpg", alt: "one love") %>

</div>

 <div class="image_helper">

<%=  image_tag("hands.jpg", alt: "hands") %>

</div>