/*// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/
.one_love {
	width: 900px;
	height: 900px;
	background-image: url("onelove.jpg");
	background-size: cover;
	background-repeat:no-repeat;

}
.panel {
	background-color: lightgrey;
	padding: 15px 10px;
	margin-bottom: 10px;
	border-radius: 10px;
}
